---
layout: default
---

<ul id="posts" class="tar">

<!-- ORIGINAL 
	{% for post in paginator.posts limit:12 %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}.html">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> | {{post.categories}}</time> 
	  	 <p>{{ post.content | strip_html | truncatewords:90 }}</p> 
	  </li>

    {% endfor %} 
-->
	{% for post in site.posts limit:8 %}

	  <li class="post">
	  	<h3><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}.html">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h3>
      	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> {{post.categories}}  | <i>{{ post.date | date_to_string }}</i> </time> 
<!--		<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line"> <i>{{ page.date | date_to_string }}</i> | {{post.categories}}</time> -->
	  	 <p>{{ post.content | strip_html | truncatewords:0 }}</p> 
	  </li>

    {% endfor %} 


</ul>

