<footer>
{% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
	<span>© {{ currentyear }}</span> 
	<span>
		<a href="{{ site.url }}/">Informatika UMMU</a> | 
		<a href="https://github.com/infoummu/TAJ" target="_blank">github</a>
	</span> 
</footer>


<!-- original script :
| <a href="https://ikhwanelyas.blogspot.co.id/" target="_blank">Blog</a>
<footer><span>@2017 -  <a href="{{ site.baseurl }}/">IkhwanElyas</a> | <a href="https://github.com/abuisa/abuisa.github.io" target="_blank">github</a> </span> | <a href="https://ikhwanelyas.blogspot.co.id/" target="_blank">Blog</a>
</footer>
-->
